@using PagedList.Mvc;
@using PagedList;
@model IPagedList<QLThueXeOto.Models.Xe>
<link href="~/Content/NguoiDungLayoutCss/MenuCuon.css" rel="stylesheet" />
<script src="~/Content/NguoiDungLayoutCss/MenuCuonJS.js"></script>
<link href="~/Content/NguoiDungLayoutCss/NguoiDungLayoutCss.css" rel="stylesheet" />
<link href="~/Content/NguoiDungLayoutCss/imgSanPham.css" rel="stylesheet" />
@{
    ViewBag.Title = "KetQuaTimKiem";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<div id="divBody">
    <h2>Kết quả tìm kiếm</h2>
    @{int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <div id="SanPham">
            <a href="@Url.Action("ChiTietXe", "ChiTietXe", new { @MaXe=item.MaXe})">
                <div id="AnhOto">
                    <div class="container">
                        <img src="@Url.Content("~/HinhAnh/" + item.HinhAnh)" alt="Avatar" class="image" style=" width:240px; height:150px; ">
                        <div class="middle">
                            <div class="text">
                                <div class="Gia" title="@item.GiaThue"><p class="DonGia">@string.Format("{0:0,0 }", item.GiaThue) VNĐ/Ngày</p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="BienSo">Biển Số: @item.BienSo</div>
                <div id="MoTa">Mô tả: @item.MoTa</div>
                <div id="TinhTrang">Tính Trạng: @item.TinhTrang</div>
                <br />
            </a>
        </div>
        if (i % 4 == 0)
        {
            <div style="clear:both"></div>
        }
    }
</div>
<div class="MenuTrang">
    @Html.PagedListPager(Model, Page => Url.Action("KetQuaTimKiem", new { Page = Page, @sTuKhoa = ViewBag.TuKhoa }))
</div>